@media screen and (max-width: 768px) {

    .banner-container,
    .flowers-container,
    .deal-container {
        flex-direction: column;
        gap: 1.5rem;
        align-items: center;
    }

    .deal-container {
        flex-direction: column-reverse;
    }

    .banner-text-container {
        width: 100%;
        align-items: start;
    }

    .banner-img-container,
    .img-caption-container,
    .deal-child {
        width: 80%;
        max-height: fit-content;
    }

    .icons-container {
        gap: 1.5rem;
    }

    .icon-container {
        width: 30%;
    }

    .insta-img-conatainer {
        grid-template-columns: repeat(2, 1fr);
        gap: .8rem;
    }
    input{
        min-width: 560px;
    }
    .latest-input-container {
        margin-top: 0;
    }
}



@media screen and (max-width: 576px) {
    .banner-text-container h1 {
        font-size: 3rem;
        text-align: center;
    }

    .banner-text-container {
        align-items: center;
    }

    .banner-img-container,
    .img-caption-container,
    .deal-child img {
        width: 100%;
        max-height: fit-content;
    }

    .banner-text-container p {
        padding-right: 0;
    }

    .flower-img-container {
        height: 22rem;
    }

    .flower-img-container img {
        object-fit: cover;
        height: auto;
    }
    .latest-input-container{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }

    .icons-container, .latest-input-container {
        flex-direction: column;
    }

    .icon-container{
        width: 100%;
    }
    input{
        min-width: 300px;
        margin: 0;
    }
    .latest-deal-main{
        text-align: center;
        background-position: left;
        background-size: auto;
        background-repeat: no-repeat;
    }
    .footer-container>.section-description{
        font-size: .8rem;
    }
    .footer-subtitle{
        font-size: .5rem;
    }
}