@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
    box-sizing: border-box;
}

img{
    width: 100%;
    object-fit: cover;
}

.section-description{
    margin: 2rem 0 2rem 0;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.875rem;
    color: rgba(39, 39, 39, 0.6);
}

.primary-button{
    background-color: rgb(229, 84, 115);
    border: none;
    border-radius: 8px;
    font-size: 1.25rem;
    font-weight: 700;
    color: white;
    padding: 1.25rem 2.7rem;
}


/* background and size related styles */
.small{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 10px;
}

section{
    margin-bottom: 5rem;
}

header{
    background-color: #FCEEF1;
}


/* banner section related styles */
.banner-container{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    margin-bottom: 10rem;
}
.banner-text-container,
.banner-img-container{
    width: 47%;
    display: flex;
}

.banner-text-container{
   flex-direction: column;
   justify-content: center;
   align-items: start;
}

.banner-text-container h1{
    font-weight: 800;
    font-size: 5rem;
}
.banner-text-container p{
    padding-right: 4.625rem;
}

/* featured flowers section related styles starts */


/* featured flowers section related styles starts */